{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <iframe title="faculty_dashboard" width="1300" height="590" src="https://app.powerbi.com/view?r=eyJrIjoiZDhmMTI0YWQtZGE4ZS00NjQwLThmNTgtMzU3MDc0ZWNjYTgwIiwidCI6ImJkYjc0YjMwLTk1NjgtNDg1Ni1iZGJmLTA2NzU5Nzc4ZmNiYyIsImMiOjh9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>
{% endblock content %}